<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{/general/head.html}"></div>
    <link th:href="@{/css/style.min.css}" rel="stylesheet">
    <link th:href="@{/css/pages/inbox.css}" rel="stylesheet">
</head>
<body class="skin-blue fixed-layout">
    <div th:insert="~{/general/header.html}"></div>
    <div th:insert="~{/general/left-sidebar.html}"></div>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div th:insert="~{/general/page-titles.html}"></div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title" th:text="${leadExpense.leadExpenseId != null} ? 'Update Expense' : 'Create New Expense'"></h4>
                            <form th:object="${leadExpense}" 
                                  th:action="${leadExpense.leadExpenseId != null} ? @{/employee/lead-expense/update} : @{/employee/lead-expense/create}" 
                                  method="post">
                                <input type="hidden" id="leadExpenseId" name="leadExpenseId" th:field="*{leadExpenseId}">
                                
                                <!-- Lead Dropdown -->
                                <label class="m-t-20" for="lead">Lead:</label>
                                <div class="input-group">
                                    <select id="lead" name="lead" class="form-control" th:field="*{lead}">
                                        <option value="">Select a Lead</option>
                                        <option th:each="lead : ${leads}" 
                                                th:value="${lead.leadId}" 
                                                th:text="${lead.leadId + ' - ' + lead.name}" 
                                                th:selected="${leadExpense.lead != null and leadExpense.lead.leadId == lead.leadId}">
                                        </option>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <span class="text-danger font-weight-bold" th:if="${#fields.hasErrors('lead')}" th:errors="*{lead}"></span>
                                </div>

                                <label class="m-t-20" for="amount">Amount:</label>
                                <div class="input-group">
                                    <input type="number" step="0.01" id="amount" th:field="*{amount}" class="form-control">
                                </div>
                                <div class="input-group">
                                    <span class="text-danger font-weight-bold" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>
                                </div>

                                <label class="m-t-20" for="leadExpenseDate">Expense Date:</label>
                                <div class="input-group">
                                    <input type="date" id="leadExpenseDate" name="leadExpenseDate" 
                                        th:value="${leadExpense.leadExpenseDate != null} ? ${#temporals.format(leadExpense.leadExpenseDate, 'yyyy-MM-dd')} : ''" 
                                        class="form-control">
                                </div>
                                <div class="input-group">
                                    <span class="text-danger font-weight-bold" th:if="${#fields.hasErrors('leadExpenseDate')}" th:errors="*{leadExpenseDate}"></span>
                                </div>

                                <button type="submit" class="btn btn-primary m-t-20" 
                                        th:text="${leadExpense.leadExpenseId != null} ? 'Update Expense' : 'Create Expense'"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="~{/general/footer.html}"></div>
    <script th:inline="javascript">
        var home = /*[[${home}]]*/ null;
    </script>
    <script th:src="@{/js/library/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/library/popper.min.js}"></script>
    <script th:src="@{/js/library/bootstrap.min.js}"></script>
    <script th:src="@{/js/library/perfect-scrollbar.jquery.min.js}"></script>
    <script th:src="@{/js/library/waves.js}"></script>
    <script th:src="@{/js/library/sidebarmenu.js}"></script>
    <script th:src="@{/js/library/sticky-kit.min.js}"></script>
    <script th:src="@{/js/library/jquery.sparkline.min.js}"></script>
    <script th:src="@{/js/library/custom.min.js}"></script>
</body>
</html>